.contact{
	display: flex;
	flex-direction: column;
	width: 70%;
	margin: 0 auto;
	background: rgba(255, 255,255, 0.7);
}

.contact_container{
	display: flex;
	width: 92%;
	flex-direction: column;
	margin: 43px auto;
}

.whole_container{
	display: flex;
	width: 100%;
}

.container_text{
	/*background: red;*/
	width: 80%;
}

.contact_text p{
	display: flex;
	flex-direction: column;
	font: 1.2rem RalewayMedium;
	color: #505050;
	margin-top: 15px;
	line-height: 1.9;
}

.contact_text a{
	font: 1rem RalewayBold;
	color: #505050;
	margin-top: 20px;
	text-align: center;
	margin-left: 20px;
	margin-bottom: 20px;
}

.contact_mail h2{
	font: 1.2rem RalewayBold;
	color: #505050;
	margin-top: 20px;	
}

.contact_mail_text{
	margin-top: 20px;
	font: 1.2rem RalewayBold;
	color: #505050;
	margin-top: 20px;
	line-height: 1.5;
}

.contact_mail_text img{
	vertical-align: middle;
	margin-bottom: 3px;
	margin-right: 5px;
}

.contact_forma{
	width: 35%;
	/*background: #FBEDFA;*/
	background: url(../images/BG.png);
	margin-top: 20px;
	border-radius: 8px;
	border: 3px solid #EFEADE;
	/*box-shadow: 0 0 10px rgba(0,0,0,0.3);*/
}

.contact_forma h2{
	border-radius: 8px;
	background: #EFEADE;
	text-align: center;
	font: 1.3rem RalewayBold;
	color: #505050;
	padding: 20px;
}

.contact_forma p{
	display: flex;
	font: 1.2rem RalewayMedium;
	color: #505050;
	margin-top: 20px;
	margin-left: 5px;
	/*width: 60%;*/
}

.contact_forma span{
	width: 60px;
	font: 1.2rem RalewayMedium;
	color: #505050;
}

.contact_forma input,
.contact_forma textarea{
	display: flex;
	justify-content: column;
	padding: 3px;
	margin-top: 5px;
	margin-left: 50px;
	/*width: 65%;*/
}

#button_forma{
	margin-left: 150px;
	margin-top: 40px;

}

	



