.home{
	display: flex;
	width: 70%;
	/*height: 1320px;*/
	margin: 0 auto;
	background: rgba(255, 255,255, 0.7);
	flex-wrap: wrap;
	/*flex-direction: column;*/
}

.main_home{
	display: flex;
	flex-basis: 92%;
	height: 430px;
	margin: 0 auto;
	border-bottom: 1px dotted #6E6F6D;
}

.slider{
	display: flex;
	flex-basis: 75%;
	height: 370px;
	margin-top: 40px;
	/*margin-right: 20px;*/
}

.aside_home{
	display: flex;
	flex-basis: 24%;
	height: 370px;
	justify-content: flex-end;
	margin-top: 40px;
	flex-wrap: wrap;
}

.aside_slider{
	display: flex;
	flex-basis: 100%;
	height: 268px;
	align-items: flex-start;
	border-bottom: 1px dotted #6E6F6D;
}

.aside_slider_content{
	display: flex;
	flex-basis: 100%;
	height: 256px;
	justify-content: center;
}

.aside_slider_content img{
	max-width: 100%;
	min-width: 100%;
}

.news{
	display: flex;
	flex-basis: 100%;
	height: 102px;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
	position: relative;
}

.news p{
	flex-basis: 75%;
	font: 1rem Arial;
	color: #505050;
}

.news img{
	flex-basis: 16%;
}

.news input{
	display: flex;
	flex-basis: 100%;
	height: 27px;
	align-self: flex-end;
}

.news button{
	width: 24px;
	height: 24px;
	position: absolute;
	right: 5px;
	bottom: 3.5px;
	border: 1px solid #8B8A83;
	border-radius: 5px;
	cursor: pointer;
}

.new_products{
	display: flex;
	flex-direction: column;
	flex-basis: 92%;
	align-content: flex-start;
	/*height: 425px;*/
	margin: 0 auto;
	border-bottom: 1px dotted #6E6F6D;
	padding-bottom: 20px;
}

.featured_products{
	display: flex;
	flex-direction: column;
	flex-basis: 92%;
	align-content: flex-start;
	/*height: 425px;*/
	margin: 0 auto;
	border-bottom: 1px dotted #6E6F6D;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.new_products_topic h1, .featured_products_topic h1{
	font: 2rem RalewayRegular;
	color: #505050;
	text-transform: uppercase;
	padding: 20px 0 30px;
}

.new_products_main, .featured_products_main{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.new_good_top{
	display: flex;
	justify-content: space-between;
	flex-basis: 535px;
}

.new_good_down{
	display: flex;
	justify-content: space-between;
	flex-basis: 535px;
}

.featured_good_top{
	display: flex;
	justify-content: space-between;
	flex-basis: 535px;
}

.featured_good_down{
	display: flex;
	justify-content: space-between;
	flex-basis: 535px;
}

.new_good, .featured_good{
	display: flex;
	flex-wrap: wrap;
	flex-basis: 240px;
	justify-content: center;
	margin: 10px;
}

.new_good img, .featured_good img{
	display: flex;
	max-width: 100%;
	min-height: 100%;
	height: 130px;
}

.new_good p, .featured_good p{
	margin: 20px 0;
	font: 1rem Arial;
	color: #505050;
}

.new_good button, .featured_good button{
	display: flex;
	justify-content: space-between;
}

.name_price{
	display: inline-flex;
	margin-top: 20px;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-basis: 100%;
}

.name_price h3{
	font: 1rem RalewaySemiBold;
	color: #738547;
}

.name_price a h3{
	display: flex;
	flex-wrap: wrap;
}

.name_price a{
	color: #738547;
}

.new_good button, .featured_good button{
	height: 25px;
	background: rgba(214, 203, 185, 0.5);
	border: 1px solid #9E9486;
	cursor: pointer;
	border-radius: 2px;
	font-family: RalewayRegular;
	color: #393A39;
	justify-content: center;
}

.new_good button:hover, .featured_good button:hover{
	background: #D0CAC0;
	border-bottom: 2px solid #9E9486;
}

.view{
	flex-basis: 42%;
	margin-right: 10px;
	font-size: 1.3rem;
}

.add_to_cart{
	flex-basis: 50%;
	font-size: 1.4rem;
}

@media screen and (max-width: 1661px){
	.new_good_top, .new_good_down,
	.featured_good_top, .featured_good_down{
		flex-basis: 750px;
		justify-content: space-between;
	}

	.new_good, .featured_good{
		flex-basis: 360px;
	}
}