.login{
	display: flex;
	flex-direction: column;
	width: 70%;
	margin: 0 auto;
	background: rgba(255, 255,255, 0.7);
}

.login_container{
	display: flex;
	width: 92%;
	flex-direction: column;
	align-items: space-between;
	margin: 43px auto;
	border-bottom: 1px dotted #6E6F6D;
}

.whole_login{
	display: flex;
}

.info_login{
	display: flex;
	flex-direction: column;
	width: 65%;
}

.info_login p {
	text-indent: 10px;
	text-align: justify;
	color: #5A5A5A;
	font: 1.2rem RalewaySemiBold;
	line-height: 1.5;
	margin: 20px 100px 0px 0px;
}

.login_info_button{
	height: 40px;
	width: 200px;
	margin: 40px 20px;
	font: 1.4rem RalewaySemiBold;
	color: #505050;	
	background: rgba(214, 203, 185, 0.5);
	border: 1px solid #8B8A83;
	border-radius: 3px;
	cursor: pointer;
}

.login_info_button:hover{
	background: #D0CAC0;
	color: #242423;
	/*transform: scale(1.05);*/
	box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.8);
}

.login_forma{
	display: flex;
	flex-direction: column;
	width: 35%
}

.login_forma p{
	color: #5A5A5A;
	font: 1.3rem RalewaySemiBold;
	line-height: 1.5;
	margin: 20px 15px 0;
}

.login_fields{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px 0;
}

.login_fieldset{
	border-radius: 20px;
	margin: 20px 0;
}

.log_lines{
	display: flex;
	width: 150px;
	font: 1.2rem RalewaySemiBold;
	color: #505050;
	margin-bottom: 7px;
}

.login_fields input{
	width: 250px;
	height: 28px;
	border: 1px solid #8B8A83;
	font: 1.4rem Arial;
	font-weight: bold;
	color: #505050;
	background: rgba(214, 203, 185, 0.2);
	border-radius: 5px;
}

.login_fields button{
	height: 40px;
	width: 250px;
	font: 1.7rem RalewayBold;
	color: #505050;
	background: rgba(214, 203, 185, 0.5);
	border: 1px solid #8B8A83;
	border-radius: 5px;
	cursor: pointer;
	margin: 30px 0 0;
}

.login_fields button:hover{
	background: #D0CAC0;
	color: #242423;
	/*transform: scale(1.05);*/
	box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.8);
}

.forgot_password{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.forgot_password a{
	color: #A6B95B;
	font: 1.3rem RalewaySemiBold;
	cursor: pointer;
	margin: 20px 0 30px;
}

.forgot_password a:hover{
	transform: scale(1.1);
	transition: 0.7s;
}