@font-face{
	font-family: RalewayBlack;
	src: url('../fonts/Raleway-Black.ttf');
}

@font-face{
	font-family: RalewayBold;
	src: url('../fonts/Raleway-Bold.ttf');
}

@font-face{
	font-family: RalewayExtraBold;
	src: url('../fonts/Raleway-ExtraBold.ttf');
}

@font-face{
	font-family: RalewayExtraLight;
	src: url('../fonts/Raleway-ExtraLight.ttf');
}

@font-face{
	font-family: RalewayMedium;
	src: url('../fonts/Raleway-Medium.ttf');
}

@font-face{
	font-family: RalewayRegular;
	src: url('../fonts/Raleway-Regular.ttf');
}

@font-face{
	font-family: RalewaySemiBold;
	src: url('../fonts/Raleway-SemiBold.ttf');
}

@font-face{
	font-family: RalewayThin;
	src: url('../fonts/Raleway-Thin.ttf');
}

*{
	padding: 0;
	margin: 0;
	font-size: 14px;
}

body{
	width: 100%;
	height: 100%;
	background: url('../images/BG.png');
}

a{
	text-decoration: none;
}